{% extends "CrmBundle::main.html.twig" %}
{% set subMenu= [
    {'path':'client_list', 'name': 'Lista zadań'},
    {'path':'client_add', 'name': 'Dodaj zadanie'},
    {'path':'client_find', 'name': 'Szukaj zadania'},
] 
%}
{% block nav %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lf-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for item in subMenu %}
                    <li class="{{ app.request.get('_route') == item['path'] ? 'active': ''}}"><a href="{{ path(item['path']) }}">{{ item['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>      
{% endblock nav %}
    
{% block pageContainer %}

{% endblock pageContainer %} 