{% extends "CrmBundle::bookkeeping.html.twig"%}
{% block pageTitle %}
    Księgowość | {{ parent() }}
{% endblock %}

{% block pageContainer %}
{% include 'ClientBundle::sub_nav.html.twig'%}
    <div class="col-xs-10 col-ms-10 col-md-10 col-lg-2">
        
    </div>
{% endblock pageContainer %}