{% extends "CrmBundle::client.html.twig"%}
{% block pageTitle %}
    Dodaj | {{ parent() }}
{% endblock %}

{% block pageContainer %}
    <div class="col-xs-12 col-ms-12 col-md-6 col-lg-6">
        {% form_theme ClientForm 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(ClientForm) }}

            {{ form_end(ClientForm) }}
    </div>
{% endblock pageContainer %}